.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #270000;
  box-shadow: 8px 8px 15px #a3a3a3, -8px -8px 15px #ffffff; /* Neumorphism effect */
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.navlinks a {
  color: #af6900;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.navlinks a:hover {
  color: #00ff95;
}
