.profile {
  padding: 100px;
  text-align: center;
  background-color: #000e24;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 4px solid #00b7cf;
}

.profile-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0 15px 15px rgba(0, 200, 214, 0.4);
}

.profile-description {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.project-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
}

.project-card {
  margin: 20px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 50px;
  width: 60%;
  box-shadow: 0 10px 10px rgba(255, 255, 255, 0.6);
  background-color: #00183d;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 20px rgba(0, 200, 214, 0.6);
}

.project-card h3 {
  margin-bottom: 8px;
  font-size: 1.5rem;
  color: #00b7cf;
}

.project-card p {
  margin-bottom: 12px;
  font-size: 1rem;
  color: #ffffff;
}

.project-card a {
  color: #0066ff;
  text-decoration: none;
  margin-right: 10px;
}

.project-card a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .profile {
    padding: 30px 10px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
  }

  .profile-description {
    font-size: 0.9rem;
  }

  .project-card {
    padding: 20px;
    width: 90%;
  }

  .project-card h3 {
    font-size: 1rem;
  }

  .project-card p {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .profile {
    padding: 20px 10px;
  }

  .profile-description {
    font-size: 0.8rem;
  }

  .project-card {
    padding: 15px;
    width: 90%;
  }

  .project-card h3 {
    font-size: 0.9rem;
  }

  .project-card p {
    font-size: 0.7rem;
  }
}
