.profile {
  position: relative;
  overflow: hidden;
  padding: 100px;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
}

.animated_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #32008f 20%, transparent 70%);
  filter: blur(50px);
  z-index: -1;
}

.profile_description {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.project_cards {
  margin-top: 50px;
}

.project_skills {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project_links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ant-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.ant-card-hoverable:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ant-card-meta-title {
  color: #00b7cf !important;
  font-size: 1.2rem;
}

.ant-card-meta-description {
  color: #ffffff !important;
  font-size: 1rem;
}

.ant-tag {
  font-size: 0.8rem;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .profile {
    padding: 50px 15px;
  }

  .profile-description {
    font-size: 1rem;
  }

  .ant-card {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .profile {
    padding: 30px 10px;
  }

  .profile-description {
    font-size: 0.85rem;
  }

  .ant-card {
    width: 100%;
    height: auto;
  }
}
