.profile {
  position: relative;
  overflow: hidden;
  padding: 100px;
  text-align: center;
  color: white;
  font-family: 'Poppins', sans-serif;
  background-image: url(/ferrariblack.jpg);
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.animated_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #a30000 20%, transparent 70%);
  filter: blur(50px);
  z-index: -1;
}

.avatar_wrapper {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.avatar_wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: url('/wheel2.png') no-repeat center center;
  background-size: cover;
  animation: rotate-wheel 0.5s linear infinite;
  z-index: 0;
}

.ant-avatar {
  position: relative;
  z-index: 1;
  border-radius: 50%;
}

@keyframes rotate-wheel {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.profile_description {
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
}

.project_cards {
  margin-top: 70px;
}

.project_skills {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.project_links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.ant-card {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
}

.ant-card-hoverable:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.ant-card-meta-title {
  color: #00b7cf !important;
  font-size: 1.2rem;
}

.ant-card-meta-description {
  color: #ffffff !important;
  font-size: 1rem;
}

.ant-tag {
  font-size: 0.8rem;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .profile {
    padding: 50px 15px;
  }

  .profile-description {
    font-size: 1rem;
  }

  .ant-card {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 480px) {
  .profile {
    padding: 30px 10px;
  }

  .profile-description {
    font-size: 0.85rem;
  }

  .ant-card {
    width: 100%;
    height: auto;
  }
}
